@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Rubik:wght@300;400;500;600;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap');

body {
    background-color: #F8F3EC;
}
p {
    margin-bottom: 32px;
}


.section-bg:after {
    background-color: red;
    height: 100px;
    width: 100%;
}